{{ define "main" }}

{{- if not .IsHome | and .Title }}
<h1>
	{{ .Title }}
	{{- with .OutputFormats.Get "rss" }}
	<a href="{{ .RelPermalink }}" class="RSS" title="RSS" aria-label="RSS">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
			stroke-width="2" stroke-linecap="round" stroke-linejoin="round" height="23">
			<path d="M4 11a9 9 0 0 1 9 9" />
			<path d="M4 4a16 16 0 0 1 16 16" />
			<circle cx="5" cy="19" r="1" />
		</svg>
	</a>
	{{- end }}
</h1>
{{- if .Description }}
<div class="post-description">
	{{ .Description | markdownify }}
</div>
{{- end }}
<!--{{ .Content }}-->
<div class="notes">
	{{ range .Pages }}
	<!--<span style="display: flex; justify-content: space-between; align-items: center;">-->
	<span>
		<a class="menu" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
	</span><span class="date">
		{{ .PublishDate.Format .Site.Params.dateFormat }}
	</span>
	{{ end }}
</div>
{{ end }}
{{ end }}
